<!--/*@thymesVar id="booksList" type="java.util.List<ru.dias.spring1boot.entities.Book>"*/-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Products List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>

<body>
<div class="fluid-container">
    <nav>
        <div th:replace="~{my-menu :: mymenu(ProductsList)}">
        </div>
    </nav>
</div>
<br>
<br>
<br>
<div class="container">
    <h3 align="center">Products List</h3>
    <a class="btn btn-success" th:href="@{'add'}" role="button">Add product</a>
    <br>
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <td>Id</td>
            <td>Title</td>
            <td>Price</td>
            <td>Actions</td>
        </tr>
        </thead>

        <tr th:each="product : ${products}">
            <td th:text="${product.id}"/>
            <td th:text="${product.title}"/>
            <td th:text="${product.price}"/>

            <td>
                <button class="btn btn-primary infoBtn" th:attr="entryIndex=${product.id}">Info</button>
                <a class="btn btn-danger" th:href="@{'/products/remove/' + ${product.id}}" role="button">Remove</a>
            </td>
        </tr>
    </table>

    <!--<br>-->
    <!--<a href="/">Back To Main Page</a>-->
    <!--<br>-->
    <!--<button id="consoleTestBtn" >Console</button>-->
    <!--<input id="myInput" />-->
</div>
</body>
<footer>
    <div th:insert="~{my-footer :: foot}">
    </div>
</footer>
</html>